adfedwfitsandbox1/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfedwfitsandbox1"
		},
		"POCSSISIRSDLL_properties_typeProperties_ssisProperties_customSetupScriptProperties_sasToken": {
			"type": "secureString"
		},
		"SSISIR-customtest_properties_typeProperties_ssisProperties_customSetupScriptProperties_sasToken": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Ajay_testing",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-01-10T19:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/POCSSISIRSDLL')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 2
					},
					"ssisProperties": {
						"customSetupScriptProperties": {
							"blobContainerUri": "https://sadwfitpoc1.blob.core.windows.net/",
							"sasToken": {
								"type": "SecureString",
								"value": "[parameters('POCSSISIRSDLL_properties_typeProperties_ssisProperties_customSetupScriptProperties_sasToken')]"
							}
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded",
						"expressCustomSetupProperties": [
							{
								"type": "EnvironmentVariableSetup",
								"typeProperties": {
									"variableName": "AZURE_STORAGE_CONNECTION_STRING",
									"variableValue": "DefaultEndpointsProtocol=https;AccountName=sadwfitpoc1;AccountKey=PcUFfbEC6+XlWWZ/atb1yXmYu3gYudERXmTNWa95p3tqfDZf3ip3FYmz6bYuykNknljhJvOTCJIjW6M1B2dxFA==;EndpointSuffix=core.windows.net"
								}
							}
						],
						"packageStores": [
							{
								"name": "pocssisstore",
								"packageStoreLinkedService": {
									"referenceName": "SSISlinkedService",
									"type": "LinkedServiceReference"
								}
							}
						]
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSISIR-customtest')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"nodeSize": "Standard_D8_v3",
						"numberOfNodes": 2,
						"maxParallelExecutionsPerNode": 8
					},
					"ssisProperties": {
						"customSetupScriptProperties": {
							"blobContainerUri": "https://saedwfitdbxstorepoc.blob.core.windows.net/customscript",
							"sasToken": {
								"type": "SecureString",
								"value": "[parameters('SSISIR-customtest_properties_typeProperties_ssisProperties_customSetupScriptProperties_sasToken')]"
							}
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded",
						"dataProxyProperties": {
							"connectVia": {
								"type": "IntegrationRuntimeReference",
								"referenceName": "shiredwfitsandbox1"
							},
							"stagingLinkedService": {
								"type": "LinkedServiceReference",
								"referenceName": "AzureBlobStorage2"
							}
						},
						"packageStores": [
							{
								"name": "packagedeploymentssis",
								"packageStoreLinkedService": {
									"referenceName": "SSISIR_pkg_testing",
									"type": "LinkedServiceReference"
								}
							}
						]
					},
					"customerVirtualNetwork": {
						"subnetId": "/subscriptions/40fb0dac-7090-48ba-8b98-b1298e2106d8/resourceGroups/RGSPOKE-EASTUS2-DW-SANDBOX/providers/Microsoft.Network/virtualNetworks/vnet-eastus2-dw-sandbox/subnets/spoke-dw-sandbox-subnet-2"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSISpackageazuredeployment')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 2
					},
					"ssisProperties": {
						"edition": "Standard",
						"licenseType": "LicenseIncluded",
						"packageStores": [
							{
								"name": "SSISIRpackagestore",
								"packageStoreLinkedService": {
									"referenceName": "SSISIR_pkg_testing",
									"type": "LinkedServiceReference"
								}
							}
						]
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/5BI_GH_SSIS_GH_ENT_SAILPOINT002')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\sqlserver\\ssis\\development\\BI\\SSIS\\BI_GH\\BIDATA_OIM_Users_FromSailpoint.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\sqlserver\\ssis\\development\\BI\\Configuration\\BI_GH\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-04T11:28:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADDRESS_STDZN_SRC_EPRISM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\ASBI\\SSIS\\ADDRESS_STDZN_SRC_EPRISM\\ADDRESS_STDZN_SRC_EPRISM.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\ASBI\\CONFIGURATION\\ADDRESS_STDZN_SRC_EPRISM\\ADDRESS_STDZN_SRC_EPRISM.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-11T12:40:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ajay_SSISIR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Pkg_ssir.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Config_ssisirpkg.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISpackageazuredeployment",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-01T19:12:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISpackageazuredeployment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archiving_genericpipline_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_IF_Condition_Compress_Outgoing",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.IsCompressOutgoing, true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ACT_Binary_Copy_Outgoing_As_Is",
									"description": "Binary copy (as-is) of files from source to destination",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "TarReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 4
									},
									"inputs": [
										{
											"referenceName": "DS_File_ADLS_Outgoing_Binary",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Current_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.Compress_FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_File_ADLS_Outgoing_Binary",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Outgoing_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.Compress_FileName, '.zip')",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "ACT_Binary_Copy_Outgoing_Compress",
									"description": "Binary copy and compress files from current to outgoing",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "TarReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 4
									},
									"inputs": [
										{
											"referenceName": "DS_File_ADLS_Outgoing_Binary",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Current_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.Compress_FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_File_ADLS_Binary_Compress",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Outgoing_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.Compress_FileName, '.zip')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "ACT_IF_Condition_Compress_Archive",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ACT_IF_Condition_Compress_Outgoing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.IsCompressArchive, true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ACT_Binary_Copy_Outgoing_As_Is_copy1",
									"description": "Binary copy (as-is) of files from source to destination",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "TarReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 4
									},
									"inputs": [
										{
											"referenceName": "DS_File_ADLS_Outgoing_Binary",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Current_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.Compress_FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_File_ADLS_Outgoing_Binary",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Archive_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.Compress_FileName, '.zip')",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "ACT_Binary_Copy_Archive_Compress",
									"description": "Binary copy and compress files from current to archive",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "TarReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 4
									},
									"inputs": [
										{
											"referenceName": "DS_File_ADLS_Outgoing_Binary",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Current_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.Compress_FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_File_ADLS_Binary_Compress",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Outgoing_Container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.Archive_Directory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.Compress_FileName,'.zip')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Outgoing_Container": {
						"type": "string",
						"defaultValue": "outgoing-zone"
					},
					"Current_Directory": {
						"type": "string",
						"defaultValue": "current"
					},
					"Outgoing_Directory": {
						"type": "string",
						"defaultValue": "outgoing"
					},
					"Compress_FileName": {
						"type": "string",
						"defaultValue": "test"
					},
					"IsCompressOutgoing": {
						"type": "bool",
						"defaultValue": true
					},
					"IsCompressArchive": {
						"type": "bool",
						"defaultValue": true
					},
					"Archive_Directory": {
						"type": "string",
						"defaultValue": "archive"
					}
				},
				"folder": {
					"name": "Generic"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-22T09:42:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDTExec-ADLS2Syanpse_POC_Blob-34238C7600A4D35DEDD6E4662A6A66FB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteSsisPackageFromDTExec",
						"description": "Package path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\ADLS2Syanpse_POC_Blob.dtsx.Configuration path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\POC_ADLS2Synapse.dtsConfig.Overridden properties: \\Package.Variables[PROJECT_NAME].Value;DW_MIGRATION;\\Package.Variables[SOLUTION_NAME].Value;ADF_EXEC_POC;\\Package.Variables[DATA_SOURCE_OBJECT_NAME].Value;SynapseTesting;.",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\ADLS2Syanpse_POC_Blob.dtsx",
								"type": "File",
								"typeProperties": {
									"packagePassword": {
										"type": "SecureString",
										"value": "**********"
									},
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.packageAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.packageAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\POC_ADLS2Synapse.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"propertyOverrides": {
								"\\Package.Variables[PROJECT_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								},
								"\\Package.Variables[SOLUTION_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								},
								"\\Package.Variables[DATA_SOURCE_OBJECT_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								}
							},
							"loggingLevel": "@pipeline().parameters.logLevel",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {},
							"logLocation": {
								"logPath": {
									"value": "@pipeline().parameters.logPath",
									"type": "Expression"
								},
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.logAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.logAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"packageAccessDomain": {
						"type": "Object"
					},
					"packageAccessUserName": {
						"type": "Object"
					},
					"packageAccessPassword": {
						"type": "SecureString"
					},
					"packagePassword": {
						"type": "SecureString"
					},
					"logPath": {
						"type": "String"
					},
					"logAccessDomain": {
						"type": "Object"
					},
					"logAccessUserName": {
						"type": "Object"
					},
					"logAccessPassword": {
						"type": "SecureString"
					},
					"logLevel": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-12T16:21:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDTExec-ADLS2Syanpse_POC_Blob-582E72693B01CC502A9930125EB8CFB7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteSsisPackageFromDTExec",
						"description": "Package path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\ADLS2Syanpse_POC_Blob.dtsx.Configuration path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\POC_ADLS2Synapse.dtsConfig.",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\ADLS2Syanpse_POC_Blob.dtsx",
								"type": "File",
								"typeProperties": {
									"packagePassword": {
										"type": "SecureString",
										"value": "**********"
									},
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.packageAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.packageAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\POC_ADLS2Synapse.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "@pipeline().parameters.logLevel",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {},
							"logLocation": {
								"logPath": {
									"value": "@pipeline().parameters.logPath",
									"type": "Expression"
								},
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.logAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.logAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"packageAccessDomain": {
						"type": "Object"
					},
					"packageAccessUserName": {
						"type": "Object"
					},
					"packageAccessPassword": {
						"type": "SecureString"
					},
					"packagePassword": {
						"type": "SecureString"
					},
					"logPath": {
						"type": "String"
					},
					"logAccessDomain": {
						"type": "Object"
					},
					"logAccessUserName": {
						"type": "Object"
					},
					"logAccessPassword": {
						"type": "SecureString"
					},
					"logLevel": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-21T17:52:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDTExec-ADLS2Syanpse_POC_Blob-8938C179DAD158EE5ACCC682F377355F')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteSsisPackageFromDTExec",
						"description": "Package path: \\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\ADLS2Syanpse_POC_Blob.dtsx.Configuration path: \\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\POC_ADLS2Synapse.dtsConfig.Overridden properties: \\Package.Variables[PROJECT_NAME].Value;DW_MIGRATION;\\Package.Variables[SOLUTION_NAME].Value;ADF_EXEC_POC;\\Package.Variables[DATA_SOURCE_OBJECT_NAME].Value;SynapseTesting;.",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\ADLS2Syanpse_POC_Blob.dtsx",
								"type": "File",
								"typeProperties": {
									"packagePassword": {
										"type": "SecureString",
										"value": "**********"
									},
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\Paytech_BlobToSynapse\\POC_ADLS2Synapse.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"propertyOverrides": {
								"\\Package.Variables[PROJECT_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								},
								"\\Package.Variables[SOLUTION_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								},
								"\\Package.Variables[DATA_SOURCE_OBJECT_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								}
							},
							"loggingLevel": "@pipeline().parameters.logLevel",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {},
							"logLocation": {
								"logPath": {
									"value": "@pipeline().parameters.logPath",
									"type": "Expression"
								},
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"packageAccessDomain": {
						"type": "Object"
					},
					"packageAccessUserName": {
						"type": "Object"
					},
					"packageAccessPassword": {
						"type": "SecureString"
					},
					"packagePassword": {
						"type": "SecureString"
					},
					"logPath": {
						"type": "String"
					},
					"logAccessDomain": {
						"type": "Object"
					},
					"logAccessUserName": {
						"type": "Object"
					},
					"logAccessPassword": {
						"type": "SecureString"
					},
					"logLevel": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-26T05:24:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDTExec-VOC_API_RESPONSE_PULL_LOAD_HRO-2DDEF9E8232BFDD22F2DE77F3BADA2A4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteSsisPackageFromDTExec",
						"description": "Package path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\SSIS\\VOC_API_RESPONSE_PULL_LOAD_HRO.dtsx.Configuration path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\configuration\\DW_CUSTOMER_INMOMENT.dtsConfig.",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\SSIS\\VOC_API_RESPONSE_PULL_LOAD_HRO.dtsx",
								"type": "File",
								"typeProperties": {
									"packagePassword": {
										"type": "SecureString",
										"value": "**********"
									},
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.packageAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.packageAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\configuration\\DW_CUSTOMER_INMOMENT.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "@pipeline().parameters.logLevel",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {},
							"logLocation": {
								"logPath": {
									"value": "@pipeline().parameters.logPath",
									"type": "Expression"
								},
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.logAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.logAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"packageAccessDomain": {
						"type": "Object"
					},
					"packageAccessUserName": {
						"type": "Object"
					},
					"packageAccessPassword": {
						"type": "SecureString"
					},
					"packagePassword": {
						"type": "SecureString"
					},
					"logPath": {
						"type": "String"
					},
					"logAccessDomain": {
						"type": "Object"
					},
					"logAccessUserName": {
						"type": "Object"
					},
					"logAccessPassword": {
						"type": "SecureString"
					},
					"logLevel": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-12T14:40:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDTExec-VOC_API_RESPONSE_PULL_LOAD_HRO-7C8D851FC10B05EB68F5EEE527F3D16A')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteSsisPackageFromDTExec",
						"description": "Package path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\SSIS\\VOC_API_RESPONSE_PULL_LOAD_HRO.dtsx.Configuration path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\configuration\\DW_CUSTOMER_INMOMENT.dtsConfig.Overridden properties: \\Package.Variables[PROJECT_NAME].Value;DW_MIGRATION;\\Package.Variables[SOLUTION_NAME].Value;ADF_EXEC_POC;\\Package.Variables[DATA_SOURCE_OBJECT_NAME].Value;SynapseTesting;.",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\SSIS\\VOC_API_RESPONSE_PULL_LOAD_HRO.dtsx",
								"type": "File",
								"typeProperties": {
									"packagePassword": {
										"type": "SecureString",
										"value": "**********"
									},
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.packageAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.packageAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\configuration\\DW_CUSTOMER_INMOMENT.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"propertyOverrides": {
								"\\Package.Variables[PROJECT_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								},
								"\\Package.Variables[SOLUTION_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								},
								"\\Package.Variables[DATA_SOURCE_OBJECT_NAME].Value": {
									"value": {
										"type": "SecureString",
										"value": "**********"
									},
									"isSensitive": true
								}
							},
							"loggingLevel": "@pipeline().parameters.logLevel",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {},
							"logLocation": {
								"logPath": {
									"value": "@pipeline().parameters.logPath",
									"type": "Expression"
								},
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.logAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.logAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"packageAccessDomain": {
						"type": "Object"
					},
					"packageAccessUserName": {
						"type": "Object"
					},
					"packageAccessPassword": {
						"type": "SecureString"
					},
					"packagePassword": {
						"type": "SecureString"
					},
					"logPath": {
						"type": "String"
					},
					"logAccessDomain": {
						"type": "Object"
					},
					"logAccessUserName": {
						"type": "Object"
					},
					"logAccessPassword": {
						"type": "SecureString"
					},
					"logLevel": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-12T15:31:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDTExec-VOC_API_RESPONSE_PULL_LOAD_HRO-AB62EBE860DEF8ABDC96B55A75E7F65C')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteSsisPackageFromDTExec",
						"description": "Package path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\API\\SSIS\\VOC_API_RESPONSE_PULL_LOAD_HRO.dtsx.Configuration path: \\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\API\\configuration\\DW_CUSTOMER_INMOMENT.dtsConfig.",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\API\\SSIS\\VOC_API_RESPONSE_PULL_LOAD_HRO.dtsx",
								"type": "File",
								"typeProperties": {
									"packagePassword": {
										"type": "SecureString",
										"value": "**********"
									},
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.packageAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.packageAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\InMomentSurveyResponse\\API\\configuration\\DW_CUSTOMER_INMOMENT.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "@pipeline().parameters.logLevel",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {},
							"logLocation": {
								"logPath": {
									"value": "@pipeline().parameters.logPath",
									"type": "Expression"
								},
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": {
											"value": "@pipeline().parameters.logAccessDomain",
											"type": "Expression"
										},
										"userName": {
											"value": "@pipeline().parameters.logAccessUserName",
											"type": "Expression"
										},
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"packageAccessDomain": {
						"type": "Object"
					},
					"packageAccessUserName": {
						"type": "Object"
					},
					"packageAccessPassword": {
						"type": "SecureString"
					},
					"packagePassword": {
						"type": "SecureString"
					},
					"logPath": {
						"type": "String"
					},
					"logAccessDomain": {
						"type": "Object"
					},
					"logAccessUserName": {
						"type": "Object"
					},
					"logAccessPassword": {
						"type": "SecureString"
					},
					"logLevel": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-17T17:12:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BWPEDOCORIGDESC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\P5BI.GH.D.SFL.LOOKUPS\\SFL_BWPEDOCORIGDESC_Load.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\P5BI.GH.D.SFL.LOOKUPS\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-28T13:03:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BWPEDOCTYPEDESC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\P5BI.GH.D.SFL.LOOKUPS\\SFL_BWPEDOCTYPEDESC_Load.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\P5BI.GH.D.SFL.LOOKUPS\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-28T13:07:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BWPEUTPDESC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\P5BI.GH.D.SFL.LOOKUPS\\SFL_BWPEUTPDESC_Load.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\P5BI.GH.D.SFL.LOOKUPS\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-28T13:16:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BWPHISTMAIN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\BWPHIST.MAIN\\SFL_BWPHIST_Landing.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.BWPHIST.MAIN\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "Execute SSIS package2",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "Execute SSIS package1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\BWPHIST.MAIN\\SFL_BWPHIST_Load.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.ITEM.LANDING.MAIN\\BWPHIST.MAIN\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-25T13:14:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BWPRULE001')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.BWPRULE.MAIN\\SFL_BWPRULE_Landing.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.BWPRULE.MAIN\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-31T10:07:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BWPRULE002')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.BWPRULE.MAIN\\SFL_BWPRULE_Load.dtsx",
								"type": "File",
								"typeProperties": {
									"accessCredential": {
										"domain": "Azure",
										"userName": "sadwfitpoc1",
										"password": {
											"type": "SecureString",
											"value": "**********"
										}
									},
									"configurationPath": "\\\\sadwfitpoc1.file.core.windows.net\\packagedeploymentssis\\P5BI.GH.D.SFL.BWPRULE.MAIN\\SSISConfig.dtsConfig"
								}
							},
							"connectVia": {
								"referenceName": "SSISIR-customtest",
								"type": "IntegrationRuntimeReference"
							},
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-31T10:20:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SSISIR-customtest')]"
			]
		}
	]
}