adfedwfitsandbox1/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfedwfitsandbox1"
		},
		"AzureBlobStorage2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage2'"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer1'"
		},
		"Genericsp_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Genericsp'"
		},
		"LS_ADLSG2_saedwfitsndboxpoc1_Strgkey_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLSG2_saedwfitsndboxpoc1_Strgkey'"
		},
		"LS_AIZ0VSQLP100001_Server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AIZ0VSQLP100001_Server'"
		},
		"LS_Azure_VM_Onpremise_SQL_Server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_Azure_VM_Onpremise_SQL_Server'"
		},
		"LS_CONFIG_MetadataDetails_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_CONFIG_MetadataDetails'"
		},
		"LS_KV_GDA_DEV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-aiz-gda-dev3.vault.azure.net/"
		},
		"LS_Keyvlt_kyvltedwsndbxfit_MI_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kyvltedwsndbxfit.vault.azure.net/"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\atl0appstore1.cead.prd\\ASBI_PROD\\staging\\"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "gz5477"
		},
		"LSAccessSrcService_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://saedwfitsndboxpoc1.dfs.core.windows.net"
		},
		"LSAccessSrcService_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "331d1275-437c-4934-8eae-f5c7a0170487"
		},
		"LSAccessSrcService_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "016fb9eb-47e8-496f-b590-c0a65310c92f"
		},
		"LS_ADLSG2_saedwfitsndboxpoc1_Strgkey_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saedwfitsndboxpoc1.dfs.core.windows.net"
		},
		"LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saedwfitsndboxpoc1.dfs.core.windows.net"
		},
		"LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "331d1275-437c-4934-8eae-f5c7a0170487"
		},
		"LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "016fb9eb-47e8-496f-b590-c0a65310c92f"
		},
		"LS_ADLS_Staging_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sadwfitpoc1.dfs.core.windows.net"
		},
		"LS_ADLS_Staging_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "331d1275-437c-4934-8eae-f5c7a0170487"
		},
		"LS_ADLS_Staging_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "016fb9eb-47e8-496f-b590-c0a65310c92f"
		},
		"LS_AIZ0VSQLP100001_Server_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "prodcead\\biuserdev"
		},
		"LS_Azure_VM_Onpremise_SQL_Server_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "prodcead\\biuserdev"
		},
		"LS_Azure_VM_to_ADLS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\vm-dw-sandbox\\SHIR\\"
		},
		"LS_Azure_VM_to_ADLS_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "prodcead\\biuserdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Automic_POC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "variable1",
							"value": {
								"value": "@pipeline().parameters.param1",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 2
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param1": {
						"type": "string"
					}
				},
				"variables": {
					"variable1": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-11T20:47:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV_GDA_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Azure Key Valut read access ",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_GDA_DEV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Keyvlt_kyvltedwsndbxfit_MI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_Keyvlt_kyvltedwsndbxfit_MI_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureVMIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SynapseDataMigrationIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shiredwfitsandbox1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "This is SHIR",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRIGGER_AUTOMIC_JOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_WEB_TRG_AUTOMIC_JOB",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(variables('URLROOT'),'://',pipeline().parameters.HOSTNAME,':',variables('PORT'),variables('APIURL'),'/',variables('APIVERSION'),'/',pipeline().parameters.CLIENT,'/','executions')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "shiredwfitsandbox1",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Accept": "*/*",
								"Accept-Encoding": "gzip, deflate, br",
								"Connection": "keep-alive"
							},
							"body": {
								"value": "{\n\t\"object_name\": \"PTG_JOBP_POC_ADF_EXEC\",\n    \"execution_option\": \"execute\"\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "Basic",
								"username": "zw8656",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"JOBNAME": {
						"type": "string",
						"defaultValue": "PTG_JOBP_POC_ADF_EXEC"
					},
					"HOSTNAME": {
						"type": "string",
						"defaultValue": "api-automicmod.assurant.com"
					},
					"CLIENT": {
						"type": "string",
						"defaultValue": "504"
					}
				},
				"variables": {
					"PORT": {
						"type": "String",
						"defaultValue": "8088"
					},
					"URLROOT": {
						"type": "String",
						"defaultValue": "http"
					},
					"APIURL": {
						"type": "String",
						"defaultValue": "ae/api"
					},
					"APIVERSION": {
						"type": "String",
						"defaultValue": "v1"
					},
					"LOGIN_DEPT": {
						"type": "String",
						"defaultValue": "zw8656"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-10T12:50:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Genericsp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Genericsp_connectionString')]"
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSAccessSrcService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('LSAccessSrcService_properties_typeProperties_serviceEndpoint')]",
					"tenant": "[parameters('LSAccessSrcService_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LSAccessSrcService_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvlt_kyvltedwsndbxfit_MI",
							"type": "LinkedServiceReference"
						},
						"secretName": "app-secret-app-sp1-edwfitsndbx"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Keyvlt_kyvltedwsndbxfit_MI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLSG2_saedwfitsndboxpoc1_Strgkey')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLSG2_saedwfitsndboxpoc1_Strgkey_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLSG2_saedwfitsndboxpoc1_Strgkey_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1_properties_typeProperties_url')]",
					"tenant": "[parameters('LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_ADLSG2_saedwfitsndbxpoc1_app_sp1_edwfitsndbx1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvlt_kyvltedwsndbxfit_MI",
							"type": "LinkedServiceReference"
						},
						"secretName": "app-secret-app-sp1-edwfitsndbx"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Keyvlt_kyvltedwsndbxfit_MI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Staging_properties_typeProperties_url')]",
					"tenant": "[parameters('LS_ADLS_Staging_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_ADLS_Staging_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvlt_kyvltedwsndbxfit_MI",
							"type": "LinkedServiceReference"
						},
						"secretName": "ad-pwd-ceadprd-AppAcc-DWH-biuserprd"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Keyvlt_kyvltedwsndbxfit_MI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AIZ0VSQLP100001_Server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"DataBaseName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_AIZ0VSQLP100001_Server_connectionString')]",
					"userName": "[parameters('LS_AIZ0VSQLP100001_Server_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_GDA_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "ad-pwd-prodcead-biuserdev"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_GDA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDatabricksDeltaLake_Connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-4774423564615502.2.azuredatabricks.net",
					"clusterId": "1228-150922-u59a7679",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvlt_kyvltedwsndbxfit_MI",
							"type": "LinkedServiceReference"
						},
						"secretName": "dbx-token-adb-4774423564615502-2-patusedinkeyvlt",
						"secretVersion": "af03389d1c754e75add7910800306802"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Keyvlt_kyvltedwsndbxfit_MI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Azure_VM_Onpremise_SQL_Server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect On-premise SQL Server in Azure VM",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_Azure_VM_Onpremise_SQL_Server_connectionString')]",
					"userName": "[parameters('LS_Azure_VM_Onpremise_SQL_Server_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_GDA_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "ad-pwd-prodcead-biuserdev"
					}
				},
				"connectVia": {
					"referenceName": "AzureVMIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzureVMIR')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_GDA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Azure_VM_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LS_Azure_VM_to_ADLS_properties_typeProperties_host')]",
					"userId": "[parameters('LS_Azure_VM_to_ADLS_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_GDA_DEV",
							"type": "LinkedServiceReference"
						},
						"secretName": "ad-pwd-prodcead-biuserdev"
					}
				},
				"connectVia": {
					"referenceName": "AzureVMIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzureVMIR')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_GDA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CONFIG_MetadataDetails')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_CONFIG_MetadataDetails_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvlt_kyvltedwsndbxfit_MI",
							"type": "LinkedServiceReference"
						},
						"secretName": "db-pwd-srvsqledwdbxsndbxmetastore1-configdb-configuser"
					}
				},
				"connectVia": {
					"referenceName": "shiredwfitsandbox1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shiredwfitsandbox1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Keyvlt_kyvltedwsndbxfit_MI')]"
			]
		}
	]
}